#root {
max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
h1 {
  font-size: 5vw; /* 5% del ancho de la pantalla */
}

body{

  background-color: rgba(127, 255, 212, 0.349);
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #000000);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #e20808c5);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.api-link-container {
  margin: 70px;
  margin-top: 160px;
  background-image: url('https://img.freepik.com/vector-gratis/ilustracion-concepto-programacion_114360-1351.jpg?uid=R120872974&ga=GA1.1.361368930.1741124675&semt=ais_hybrid'); /* Cambia esta URL por la de tu imagen */
  background-size: cover; /* Asegura que la imagen cubra todo el div */
  background-position: center; /* Centra la imagen */
  padding: 20px; /* Agrega espacio alrededor del contenido */
  border-radius: 10px; /* Opcional: para bordes redondeados */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Opcional: para sombra */
  width: 100%; /* Opcional: para que el contenedor ocupe todo el ancho */
  max-width: 1000px; /* Opcional: para limitar el ancho del contenedor */
  margin-left: auto; /* Opcional: para centrar el contenedor */
  margin-right: auto; /* Opcional: para centrar el contenedor */
  display: flex; /* Opcional: para alinear los elementos en el centro */
  flex-direction: column; /* Opcional: para alinear los elementos en el centro */
  align-items: center; /* Opcional: para alinear los elementos en el centro */
  justify-content: center; /* Opcional: para alinear los elementos en el centro */
  text-align: center; /* Opcional: para alinear el texto en el centro */
  height: 70vh; /* Opcional: para que el contenedor ocupe toda la pantalla */
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
}

.api-link-container a {
  font-size: 20px;
  color: #FFFFFF; /* Cambié el color a blanco para que sea visible sobre la imagen */
  padding: 10px 20px; /* Espaciado alrededor del enlace */
  border-radius: 5px; /* Bordes redondeados para el enlace */
}
.main-contenedor2{

  background-color: rgba(127, 255, 212, 0.349);
}



@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
