/* Estilos generales */
root {
  width: 100vw; /* Ocupa todo el ancho de la pantalla */
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  margin: 0;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Fondo del cuerpo */
body {
  background-color: rgba(127, 255, 212, 0.349);
  margin: 0; /* Elimina los márgenes blancos */
  padding: 0;
}

/* Estilo del título */
h1 {
  font-size: 5vw; /* 5% del ancho de la pantalla */
  margin: 0;
}

/* Contenedor principal - ahora ocupa toda la pantalla */
.api-link-container {
  width: 86vw; /* Ocupa toda la pantalla */
  height: 70vh; /* Ajusta la altura completa */
  margin: 0; /* Elimina márgenes blancos */
  padding: 20px;
  background-image: url('https://img.freepik.com/vector-gratis/ilustracion-concepto-programacion_114360-1351.jpg?uid=R120872974&ga=GA1.1.361368930.1741124675&semt=ais_hybrid');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */

  background-size: cover;  /* La imagen cubrirá todo el contenedor */
  background-position: center;  /* Imagen centrada */
  background-repeat: no-repeat;
  border-radius: 20px;     
}

/* Enlaces dentro del contenedor */
.api-link-container a {
  font-size: 20px;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease-in-out;
}

.api-link-container a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Contenedor secundario */
.main-contenedor2 {
  background-color: rgba(127, 255, 212, 0.349);
  width: 100vw;
  text-align: center;
  padding: 2rem;
}

/* Estilos del logo */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #000000);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #e20808c5);
}

/* Animación del logo */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Accesibilidad para animaciones */
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Tarjetas */
.card {
  padding: 2em;
}

/* Texto de documentación */
.read-the-docs {
  color: #888;
}
